modules = ["nodejs-18", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33095
externalPort = 5173

[[ports]]
localPort = 33777
externalPort = 4200

[[ports]]
localPort = 34153
externalPort = 6800

[[ports]]
localPort = 34495
externalPort = 8008

[[ports]]
localPort = 36213
externalPort = 3000

[[ports]]
localPort = 36371
externalPort = 3002

[[ports]]
localPort = 37575
externalPort = 6000

[[ports]]
localPort = 38031
externalPort = 3003

[[ports]]
localPort = 38785
externalPort = 8080

[[ports]]
localPort = 44949
externalPort = 5000

[[ports]]
localPort = 45329
externalPort = 8000

[[ports]]
localPort = 46269
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]
